.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    min-height: min-content;
  }
  
  .logo {
    height: 50px; /* Adjust based on your logo's size */
  }
  
  .header-image {
    height: 100px; /* Adjust based on your header image's size */
    width: 100%; /* This makes the image stretch to the container width */
  }